.searchInput {
    margin-top: 15em;
    width: 100px;
    display: inline-block;
    text-align: center;
    border-radius: 10%;
    color: #000000;
    background-color: #85a1dd;
    transition: all 0.5s;
    margin: 16px;
    margin-top: 4em;
    opacity: 0.5;
}

.searchInput:hover {
    opacity: 100;
}


.searchButton {
    display: inline-block;
    border-radius: 4px;
    background-color: #112cff;
    border: none;
    color: #dcff18;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    padding-left: 1em;
    width: 80px;
    transition: all 0.5s;
    margin: 16px;
    margin-top: 1em;
}


.searchButton:hover {
    padding-right: 55px;
}

h1 {
    font-size: 60px;
    text-shadow: -1px -1px #0c0, 1px 1px #060, -3px 0 4px #000;
    font-family: Arial, Helvetica, sans-serif;
    color: #090;
    padding: 16px;
    font-weight: lighter;
    text-align: center;
    display: block;
    margin: 16px;
    margin-top: 1em;
}

h2 {
    font-size: 25px;
    text-shadow: -1px -1px rgb(77, 95, 255), 1px 1px rgb(33, 40, 231), -3px 0 4px #060c48;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(117, 120, 42);
    padding: 16px;
    font-weight: lighter;
    text-align: center;
    display: block;
    margin: 16px;
    margin-top: 1em;
}

h3 {
    font-size: 40px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    color: #b393d3;
    text-transform: uppercase;
    text-shadow: 1px 1px 0px #957dad,
        1px 2px 0px #957dad,
        1px 3px 0px #957dad,
        1px 4px 0px #957dad,
        1px 5px 0px #957dad,
        1px 6px 0px #957dad,
        1px 10px 5px rgba(16, 16, 16, 0.5),
        1px 15px 10px rgba(16, 16, 16, 0.4),
        1px 20px 30px rgba(16, 16, 16, 0.3),
        1px 25px 50px rgba(16, 16, 16, 0.2);
}