body {
    text-align: center;
    background-image: url(../../bg-img/Cute-Pikachu-Wallpapers-HD-free-desktop.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    font-size: medium;
}